<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Vitalis :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {%- set usuario = request.state.usuario -%}
    <div class="container">
        <div class="row">
            {% include "includes/header.html" %}
            <main class="col-9 min-vh-100">
                {% block conteudo %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>