<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Vitalis :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {%- set usuario = request.state.usuario -%}
    <div class="container-fluid">
        <div class="row">
            {% include "shared/includes/header.html" %}
            <main class="col w-80 min-vh-100" id="conteudoContainer">
                {% block conteudo %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>