<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Vitalis :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100" style=" background-color: #6B98BF;">
    {%- set usuario = request.state.usuario -%}
    <div class="mt-4">
    <h1>Aqui</h1>
    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-9 mt-4" style="color: antiquewhite;">
                <h1>
                    bem vindo a pagina do anunciante
                </h1>
            </div>
            <div class="col-3 mt-4 " >
                <img class="img-fluid w-50"src="/static/img/Vitalette_dinheiro.png" alt="vitalette">
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4" style="background-color:aliceblue; height:1200px; ">
        <h1>ana</h1>
    </div>

    <div class="mb-2 d-flex flex-row-reverse">
        <h1>oi</h1>
        </div>
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>