<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <title>Vitalis :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: #6B98BF;">
    {%- set usuario = request.state.usuario -%}

    <div class="mt-4 d-flex align-items-center text-white ps-3">
        <i href= "/usuario/anuncios" class="bi bi-arrow-left-circle-fill display-6"></i>
    </div>
    
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-9 mt-4 text-end text-white">
                <h1>
                    Bem-vindo à página do anunciante!
                </h1>
            </div>
            <div class="col-3 mt-4 d-flex justify-content-center">
                <img class="img-fluid w-50" src="/static/img/Vitalette_dinheiro.png" alt="vitalette">
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4 bg-white" style="height: 600px; border-radius: 20px;">
        {% block conteudo %} <!-- Bloco que será sobrescrito nas páginas filhas -->
        {% endblock %}
    </div>

    <div class="mb-2 d-flex flex-row-reverse">
        <img class="img-fluid" src="/static/img/logo.png" alt="logo" style="width: 180px;">
    </div>
    

    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>
