/* Estilos para o cabeçalho e navegação */

.cor-menu {
    background-color: #007eb3; /* Cor de fundo */
    width: 12%; /* Fixa a header no canto esquerdo */
    height: 100vh; /* Faz com que a altura seja igual à da tela */
    overflow: hidden; 
    position: fixed;
    z-index: 600;
}

.top-box {
    flex: 1;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-box img{
    height: 150px;
    width: auto;
}

.middle-box {
    flex:1;
    align-items: flex-start;
    
}

.bottom-box {
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

/* Estilos adicionais */
.header-button {
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: none; 
    box-shadow: none; 
    background-color: transparent;
    font-size: 1rem; 
    height: 1rem;
    min-height: 40px;
    padding: 15px; 
    margin: 0;
    width: 100%
}

.header-button:hover{
    background-color: #0076AA
}

/* Aumentar os botões */
.header-button i {
    font-size: 1.2rem; 
    margin-right: 10px; 
}

#FazerUpgradeButton i {
    font-size: 1.1rem; 
}

#FazerUpgradeButton span {
    font-size: 0.9rem; 
}

.text-white {
    color: white;
}
.text-decoration-none {
    text-decoration: none;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mt-auto {
    margin-top: auto;
}

.menu-link {
    margin-top: 5px; /* Ajuste para controlar o espaçamento superior */
    margin-bottom: 0px; /* Ajuste para controlar o espaçamento inferior */
}

@keyframes slideInFromLeft {
    0% {
        left: -100%; /* Fora da tela à esquerda */
    }
    100% {
        left: 5%; /* Posição final do dropdown */
    }
}

/* Animação para sair (da direita para a esquerda) */
@keyframes slideOutToLeft {
    0% {
        left: 5%; 
    }
    100% {
        left: -100%; 
    }
}

.search-dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 5%; 
    width: 400px; /* Largura fixa */
    height: 100%;
    background-color: white; /* Sem fundo */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px #ccc solid;
    display: none; /* Escondido inicialmente */
    z-index: 500; /* Para ficar acima de outros elementos */
    box-shadow: 6px 0 16px rgba(0, 0, 0, 0.1);
    transition: left 0.5s ease-out;
}

.search-dropdown .divider {
    height: 1px; /* Aumentado a espessura da linha */
    background-color: #ccc; /* Cor da linha */
    width: 100%;
    border-radius: 5px; 
}

.search-top-box {
    flex: 0.25;
    width: 100%; 
    padding: 30px 25px 0 25px; 
}

.search-top-box h5 {
    font-size: 24px;
    margin-bottom: 40px;
}

.search-top-box .form-control {
    background-color: #e7e7e7;
    height: 45px;
    margin-bottom: 25px;
}

.search-bottom-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    padding: 30px 25px; 
}

@media (max-width: 768px) {
    .cor-menu {
        width: 10%;
        height: 100%;
        text-align: center;
    }

    .top-box img{
        height: 50px;
        width: auto;
    }

    .header-button {
        display: flex;                
        align-items: center;          
        justify-content: center;
        padding: 0; 
        justify-content: center;
    }

    /* Isso pode ocultar o texto diretamente */
    .header-button span {
        display: none;
    }
}

.dropdown-active .cor-menu {
    width: 5%;
    height: 100%;
    text-align: center;
}

.dropdown-active .top-box img{
    height: 50px;
    width: auto;
}

.dropdown-active .header-button {
    display: flex;                
    align-items: center;          
    justify-content: center;
    padding: 0 0 0 8px; 
    text-align: center;
    justify-content: center;
}

/* Isso pode ocultar o texto diretamente */
.dropdown-active .header-button span {
    display: none;
}
