/* Estilos para o cabeçalho e navegação */

.cor-menu {
    background-color: #007eb3; /* Cor de fundo */
    width: 15%; /* Fixa a header no canto esquerdo */
    height: 100vh; /* Faz com que a altura seja igual à da tela */
    overflow: hidden; 
    position: fixed;
}

.top-box {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-box img{
    height: 150px;
    width: auto;
}

.middle-box {
    flex: 0.7;
    align-items: flex-start;
}

.bottom-box {
    flex: 0.1;
    align-items: flex-end;
}

/* Estilos adicionais */
.header-button {
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: none; 
    box-shadow: none; 
    background-color: transparent;
    font-size: 1.05rem; 
    height: 50px;
    padding: 15px; 
    margin: 0;
    width: 100%
}

.header-button:hover{
    background-color: #0076AA
}

/* Aumentar os botões */
.header-button i {
    font-size: 1.2rem; 
    margin-right: 10px; 
}

.text-white {
    color: white;
}
.text-decoration-none {
    text-decoration: none;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mt-auto {
    margin-top: auto;
}

.menu-link {
    margin-top: 5px; /* Ajuste para controlar o espaçamento superior */
    margin-bottom: 0px; /* Ajuste para controlar o espaçamento inferior */
}

@media (max-width: 768px) {
    .cor-menu {
        width: 10%;
        height: 100%;
    }

    /* Oculta o texto */
    .cor-menu {
        text-align: center; /* Centraliza o ícone */
    }

    .top-box img{
        height: 50px;
        width: auto;
    }

    /* Isso pode ocultar o texto diretamente */
    .cor-menu .text-white {
        display: none;
    }
}
