/* Estilos para o cabeçalho e navegação */
.cor-menu {
    background-color: #6B98BF; /* Cor de fundo */
    width: 20%; /* Fixa a header no canto esquerdo */
    height: 100vh; /* Faz com que a altura seja igual à da tela */
    overflow: hidden; /* Adiciona barra de rolagem se o conteúdo exceder a altura */
    position: fixed;
}


/* Estilos para a caixa de mensagem */
.message-box {
    display: none; /* Inicialmente escondida */
    position: absolute;
    align-items: left;
    background-color: #ADCBE4; /* Cor da caixa */
    color: white;
    padding: 20px; /* Aumentado o padding */
    border-radius: 30px; /* Bordas mais arredondadas */
    z-index: 1000;
    white-space: nowrap; /* Para evitar quebra de linha dentro da caixa */
    width: 80%; /* Largura mínima aumentada */
    height: auto; /* Altura mínima aumentada para tornar a caixa mais retangular */
    font-size: 18px; /* Aumentado o tamanho da fonte */
}

.message-box .button {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre os botões reduzido */
    text-decoration: none;
    color: white;
    padding: 0px;
    font-size: 18px; /* Aumentado o tamanho da fonte do texto */
}

.message-box .button:last-child {
    margin-bottom: 0; /* Remove margem inferior do último botão */
}

.message-box .button i {
    margin-right: 20px; /* Espaçamento entre ícone e texto aumentado */
    font-size: 20px; /* Aumentado o tamanho dos ícones */
}

/* Estilo para o divisor */
.message-box .divider {
    height: 4px; /* Aumentado a espessura da linha */
    background-color: #5A6978; /* Cor da linha */
    opacity: 48%;
    width: 120%; /* Largura aumentada para além da largura da caixa */
    margin-left: -20px;
    border-radius: 5px; /* Adiciona bordas arredondadas à linha */
}

/* Estilos adicionais */
.text-white {
    color: white;
}
.text-decoration-none {
    text-decoration: none;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mt-auto {
    margin-top: auto;
}

/* Reduzir o tamanho do logo */
.logo {
    width: 200px; /* ajuste o valor conforme necessário */
    height: auto;
}

/* Aumentar o tamanho do texto nos links */
nav a {
    font-size: 1.05rem; /* Aumentar o tamanho do texto */
    padding: 15px; /* Aumentar o padding para maior espaçamento dos botões */
    margin: 0;
}

.menu-link {
    margin-top: 5px; /* Ajuste para controlar o espaçamento superior */
    margin-bottom: 0px; /* Ajuste para controlar o espaçamento inferior */
}

/* Aumentar os botões */
nav a i {
    font-size: 1.5rem; /* Aumenta o tamanho dos ícones */
    margin-right: 10px; /* Adiciona espaçamento entre o ícone e o texto */
}
