body {
    margin: 0;
    padding: 20px;
    background-image: url('/static/img/onda_azul.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    background-size: 100% 100%;
    min-height: 100vh; /* Permite que o body cresça além de 100vh */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden; /* Mantém o overflow no eixo X escondido */
    overflow-y: auto; /* Permite o scroll no Y se necessário */
}

body, p {
    font-family: 'Ubuntu', sans-serif; /* Ou a fonte desejada */
}

.page-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    position: relative;
    background-color: rgba(202, 238, 253, 0.8);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 30px;
    width: 85vw;
    max-width: 460px;
    height:auto;
    margin: 0 auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.form-title {
    font-family: 'Chewy', cursive;
    color: #0c7496;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-subtitle {
    width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #403d3d;
    font-size: 1.0rem;
}

.btn-next {
    background-color: #006994;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 20px;
    margin: 12px auto;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    width: 100%; /* O botão agora usa toda a largura do formulário */
}

.btn-next:hover {
    background-color: #0076AA;
}

/* Texto explicativo adicional */
.small-text {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.exit-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #0F6481;
    font-size: 20px;
}

.exit-icon i {
    cursor: pointer;
}

.input-group {
    width: 100%; /* Garante que o input group use toda a largura disponível */
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 25px !important;
    border: 1px solid;
    padding: 10px 15px; 
    background-color: #addbe9 !important;
    box-shadow: none;
    height: 45px !important;
    width: 100%; 
    box-sizing: border-box; 
    border-color: #9bc5d2;
}

.input-group:focus-within {
    border-color: #007bff;
}

.input-group-append {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 10;
}

.input-group-text {
    background-color: transparent !important;
    border: none !important;
    color: #0c7496;
    padding: 0;
    font-size: 18px !important;
}

.form-row {
    width: 100%; /* Garante que a form-row use toda a largura disponível */
    margin: 0px;
}

.form-row > div {
    flex: 1; /* Faz com que cada coluna dentro da form-row ocupe o mesmo espaço */
    padding: 0px; /* Reduzido o espaço lateral entre os campos */
}

.custom-input {
    all: unset; /* Remove todos os estilos */
    width: 100%; /* Garante que o input ocupe toda a largura do contêiner */
    padding: 0; /* Remove o padding padrão */
    margin-left: 20px;
    margin-right: 50px;
    text-align: left;
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    box-shadow: none; /* Remove a sombra */
    font-size: inherit; /* Usa o tamanho da fonte do pai */
    background-color: transparent; /* Torna o fundo transparente */
}

.custom-input:focus {
    outline: none; /* Remove o contorno ao focar */
    border: none; /* Garante que a borda não apareça ao focar */
    box-shadow: none;
    background-color: transparent
}

.custom-input::placeholder {
    color: #0c7496 !important;
    font-size: 16px !important;
}

.col-md-6 {
    padding: 10px;
}

.forgot-password {
    color: #0c7496; /* Cor do texto */
    margin: 10px;/* Margem */
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    font-size: 1.1rem; /* Tamanho do texto - ajuste conforme necessário */
}

.forgot-password:hover {
    color: #1090ba;
    text-decoration: none;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F6481;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; /* O botão Google agora usa toda a largura do formulário */
}

.google-btn img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.custom-text {
    font-family: "Alex Brush", cursive;
    font-style: bold;
    font-size: 18px; 
    margin-top: 30px;
    color: black; 
    -webkit-text-stroke: 0.5px black;
}

.custom-text i {
    color: black; /* Cor do ícone de coração */
    font-size: 14px; /* Tamanho do ícone */
}

.create-account {
    color: #0c7496;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
}

.create-account:hover {
    color: #1090ba;
    text-decoration: none;
}

/* Ajustes novos para garantir a largura correta do formulário */
.full-height {
    height: 100%;
}

.container-fluid, .row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Espaço acima e abaixo do container "OU" */
}

.line {
    flex: 1; /* Faz com que a linha ocupe todo o espaço disponível */
    height: 1px; /* A altura da linha, pode ser ajustada */
    background-color: #c7c5c5; /* Cor da linha (cinza) */
}

.or-text {
    color: #575757; /* Cor do texto "OU" (cinza) */
    white-space: nowrap; /* Evita que o texto quebre a linha */
    padding: 0 10px; /* Adiciona um pequeno espaço ao redor do texto */
}

.error-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Para ocupar todo o espaço disponível */
}

.error-message {
    text-align: justify; /* Justifica o texto */
    margin-top: 30px; /* Adiciona um espaço em cima e embaixo */
    padding: 10px; /* Adiciona um padding interno, se desejado */
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
    color: red; /* Define a cor do texto como vermelho */
}

.col-12 {
    flex-direction: column;
}

.day-select {
    min-width: 80px; /* Ajuste conforme necessário */
}

.month-select {
    min-width: 120px; /* Ajuste conforme necessário */
}

.year-select {
    min-width: 70px; /* Ajuste conforme necessário */
}

/*camposenha*/

.senha-forca {
    margin-top: 2px;
    margin-right: 5px;
    font-size: 15px
}
.fraca {
    color: red;
}
.media {
    color: yellow;
}
.forte {
    color: green;
}


.cursor-pointer {
    cursor: pointer;
}

.header-container {
    position: relative; /* Para que os elementos internos possam ser posicionados relativamente a essa div */
    width: 100%; /* Ocupa 100% da largura */
    padding: 20px 0; /* Espaçamento superior e inferior, ajuste conforme necessário */
    text-align: center; /* Centraliza o título */
}

.icon-container {
    position: absolute; /* Posiciona o ícone de forma absoluta */
    left: 30px; /* Ajuste conforme necessário */
    top: 40px; /* Centraliza verticalmente em relação ao container */
    transform: translateY(-50%); /* Compensa o deslocamento para centralizar */
}

.icon-container i {
    font-size: 30px; 
    color: #0c7496;
}
