
.link-publicacoes{
    color: #33F2E0 !important; 
    font-size: 16px; 
}

.link-dailys {
    color: #969FAA !important; 
    font-size: 16px; 
}

.fileira-imagens {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.imagem {
    width: 30%;
    margin-bottom: 20px;
}

.titulo-arquivados {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
