{% extends "pages/base.html" %}
{% block subtitulo %}Anuncio{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilo_anuncio.css">

<body>

<div class="p">
    <i class="bi bi-megaphone-fill"></i> Anúncios 
</div>

<div class="centro">
    <h1 class="titulo">Se torne um anunciante em nosso site!</h1>
    <p class="sub-titulo">Tenha um maior alcance, anuncie aqui</p>
    <a href="/configuracoes/anuncios/anunciante"><button class="btn btn-primary">Entre na página do anunciante</button></a>
</div>

</body>
{% endblock %}
