{% extends "shared/pages/base.html" %}
{% block subtitulo %}Anúncio{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilo_anuncio.css">

<body>
    <div class="container mt-5 ">
        <a class="text-black text-decoration-none my-2" href="/usuario/configuracoes">
            <i class="bi bi-caret-left-fill fs-5"></i>
            <span class="fs-5">Anúncios</span> 
        </a>
    </div>    

    <div class="centro">
        <h1 class="titulo">Se torne um anunciante em nosso site!</h1>
        <p class="sub-titulo">Tenha um maior alcance, anuncie aqui</p>
        <a href="/usuario/anunciante"><button class=" btn btn-primary" style="border-radius: 20px; background-color: #0F6481;">Entre na página do anunciante</button></a>
    </div>

</body>
{% endblock %}
