<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Profissional de Saúde</title>
    <link rel="stylesheet" href="/static/css/estilo_cadastro_paciente_profissional.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-height">
        <div class="row no-gutters full-height">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="form-container">
                    <a href="/criar_conta" class="exit-icon"><i class="fa fa-arrow-left"></i></a>
                    <h2 class="form-title">Profissional de Saúde</h2>
                    <h4 class="form-subtitle">Cadastre-se para divulgar seu trabalho!</h4>
                    <form action="/cadastrar_profissional" method="post"  enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" placeholder="Data de Nascimento" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" id="confsenha" name="confsenha" placeholder="Confirme a senha" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <input type="file" class="form-control" id="registro-profissional" name="registro_profissional" required style="display: none;">
                                    <label class="input-group-append" for="registro-profissional" style="cursor: pointer;">
                                        <span class="input-group-text"><i class="fa fa-upload"></i></span>
                                    </label>
                                    <input type="text" class="form-control" readonly placeholder="Nenhum arquivo selecionado" id="file-name">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-next">Próximo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('registro-profissional').addEventListener('change', function() {
            const fileName = this.files[0] ? this.files[0].name : 'Nenhum arquivo selecionado';
            document.getElementById('file-name').value = fileName;
        });
    </script>
</body>
</html>
