<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Profissional de Saúde</title>
    <link rel="stylesheet" href="/static/css/estilo_cadastro_login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilo_editar_perfil.css">
    <style>
    .error-message {
        color: red;
        margin-top: 10px;
    }

    .form-control[readonly] {
        background-color: #D2DCE9 !important; /* Cor de fundo igual aos outros campos */
        color: #495057; /* Cor do texto */
        height: 100%;
        padding: 0px;
        cursor: default; /* Muda o cursor para o padrão */
        border: none; /* Remove a borda padrão */
    }
    
    .form-control[readonly]:focus {
        outline: none; /* Remove o contorno ao focar */
        box-shadow: none; /* Remove qualquer sombra ao focar */
    }

    #file-name {
        border-right: none; /* Remove a borda direita para uma aparência mais limpa */
    }
    </style>
</head>
<body>
    {% from 'shared/macros.html' import input_box, button_next %}
    <div class="container-fluid full-height">
        <div class="row no-gutters full-height">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="form-container">
                    <h2 class="form-title">Vitalis</h2>
                    <h4 class="form-subtitle">Cadastre-se para ver fotos e vídeos dos profissionais de saúde.</h4>
                    <form action="/cadastrar" method="post" style="width: 85%" enctype="multipart/form-data">
                        {{ input_box(type="text", id="nome", name="nome", placeholder="Nome", icon_class="bi bi-person", attributes='data-mask="nome"' )}}
                        {{ input_box(type="text", id="nome_perfil", name="nome_perfil", placeholder="Nome de Perfil", icon_class="bi bi-person-badge",)}}
                        {{ input_box(type="email", id="email", name="email", placeholder="Email", icon_class="bi bi-envelope",)}}
                        {{ input_box(type="text", id="cpf", name="cpf", placeholder="CPF", icon_class="bi bi-person-check", attributes='data-mask="cpf"')}}
                        {{ input_box(type="text", id="telefone", name="telefone", placeholder="Telefone", icon_class="bi bi-telephone", attributes='data-mask="telefone"')}}
                        {{ input_box(type="date", id="data_nascimento", name="data_nascimento", placeholder="Data de Nacimento", icon_class="bi bi-calendar")}}
                        {{ input_box(type="password", id="senha", name="senha", placeholder="Senha", icon_class="bi bi-lock",)}}
                        {{ input_box(type="password", id="conf_senha", name="conf_senha", placeholder="Confirme a Senha", icon_class="bi bi-check-circle",)}}
                        <input type="hidden" name="tipo_perfil" id="tipo_perfil" value="{{ tipo_perfil }}">
                        {% if tipo_perfil == 2 %}
                        <div class="form-row">
                            <div class="input-group mb-2">
                                <input type="file" class="form-control custom-input" id="registro-profissional" name="registro_profissional" required style="display: none;">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-upload"></i></span>
                                </div>
                                <input type="text" class="form-control custom-input" placeholder="Nenhum arquivo selecionado" id="file-name" readonly>
                            </div>
                        </div>                                                                    
                        {% endif %}
                        {{ button_next(text="Cadastre-se")}}
                        <a href="/criar_conta" class="btn-back">Voltar</a>
                    </form>
                    {% if request.cookies.get('mensagem_erro') %}
                        <div class="error-container">
                            <span class="error-message">{{ request.cookies.get('mensagem_erro') }}</span>
                        </div>
                    {% endif %}
                    <div class="or-container">
                        <div class="line"></div>
                        <span class="or-text">OU</span>
                        <div class="line"></div>
                    </div>
                    <a href="/" class="create-account">Entrar com sua Conta</a>
                    <p class="custom-text">Feito com <i class="bi bi-suit-heart-fill"></i> pela equipe Pipoqueiros</p>

                </div>                            
            </div>
        </div>
    </div>
    <script src="/static/js/mascararCampos.js"></script>
    <script>
        document.getElementById('file-name').addEventListener('click', function() {
            document.getElementById('registro-profissional').click();
        });
    
        // Função para atualizar o nome do arquivo
        document.getElementById('registro-profissional').addEventListener('change', function() {
            const input = document.getElementById('registro-profissional');
            const fileNameInput = document.getElementById('file-name');
    
            // Verifica se um arquivo foi selecionado
            if (input.files.length > 0) {
                // Atualiza o placeholder com o nome do arquivo selecionado
                fileNameInput.value = input.files[0].name;
            } else {
                // Se nenhum arquivo foi selecionado, redefine o valor
                fileNameInput.value = 'Nenhum arquivo selecionado';
            }
        });    
    </script>
</body>
</html>
