<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitalis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilo_cadastro_login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">


    
</head>
<body>
    {% from 'shared/macros.html' import input_box, button_next %}
    <div class="container-fluid full-height">
        <div class="row no-gutters full-height">
            <div class="col-12 d-flex flex-direction: column justify-content-center align-items-center">
                <div class="form-container">
                    <h2 class="form-title">Vitalis</h2>
                    <p>Cadastre-se para ver fotos e vídeos dos seus amigos.</p>

                    <!-- Botão Google -->
                    <button class="google-btn">
                        <img src="/static/img/google.png" alt="Google Logo">
                        Continuar com Google
                    </button>

                    <!-- Formulário de cadastro -->
                    <form action="/cadastrar" method="post"> <!-- Atualize a rota aqui -->
                        <div class="or-container">
                            <div class="line"></div>
                            <span class="or-text">OU</span>
                            <div class="line"></div>
                        </div>
                        <!-- Campo Email -->
                        {{ input_box(type="email", id="email", name="email", placeholder="Email", icon_class="bi bi-envelope", value=dados_usuario.email if dados_usuario.email else '',)}}

                        <!-- Campo Senha -->
                        {{ input_box(type="password", id="senha", name="senha", placeholder="Senha", icon_class="bi bi-lock", ) }}

                        <!-- Campo Confirmar Senha -->
                        {{ input_box(type="password", id="conf_senha", name="conf_senha", placeholder="Confirme a senha", icon_class="bi bi-check-circle", ) }}

                        <!-- Campo Nome -->
                        {{ input_box(type="text", id="nome", name="nome", placeholder="Nome", icon_class="bi bi-person", value=dados_usuario.nome if dados_usuario.nome else '', attributes='data-mask="nome"', ) }}

                        <!-- Campo Nome de Perfil -->
                        {{ input_box(type="text", id="nome_perfil", name="nome_perfil", placeholder="Nome de Perfil", icon_class="bi bi-person-badge", value=dados_usuario.nome_perfil if dados_usuario.nome_perfil else '', ) }}


                        <!-- Botão Cadastre-se -->
                         {{ button_next(text="Cadastre-se")}}
                        
                    </form>
                    {% if request.cookies.get('mensagem_erro') %}
                        <div class="error-container">
                            <span class="error-message">{{ request.cookies.get('mensagem_erro') }}</span>
                        </div>
                    {% endif %}
                    <p class="custom-text">Feito com <i class="bi bi-suit-heart-fill"></i> pela equipe Pipoqueiros</p>
                </div>
                <div class="form-container" style="padding: 30px; margin-top: 15px">
                    <div class="create-account-section">
                        <span class="create-account-text">Tem uma conta? </span>
                        <a href="/login" class="create-account">Conecte-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/mascararCampos.js"></script>
</body>
</html>
