<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitalis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilo_cadastro_login.css">
</head>
<body>
    {% from 'shared/macros.html' import input_box, button_next %}
    <div class="container-fluid full-height">
        <div class="row no-gutters full-height">
            <div class="col-12 d-flex flex-direction: column justify-content-center align-items-center">
                <div class="form-container">
                    <h2 class="form-title">Bem vindo a Vitalis!</h2>

                    <!-- Formulário de cadastro -->
                    <form action="/login" method="post" class="form-full">
                        <!-- Campo Email -->
                        {{ input_box(type="email", id="email", name="email", placeholder="Email", icon_class="bi bi-envelope", value=email_temp ) }}
                        <!-- Campo Senha -->
                        {{ input_box(type="password", id="senha", name="senha", placeholder="Senha", icon_class="bi bi-lock", ) }}
                        <!-- Botão de Entrar-->
                        <a href="/esqueci_a_senha" class="forgot-password">Esqueceu a senha?</a>
                        {{ button_next(text="Entrar")}}
                        <button class="google-btn">
                            <img src="/static/img/google.png" alt="Google Logo">
                            Continuar com Google
                        </button>
                    </form>
                    {% if request.cookies.get('mensagem_erro') %}
                        <div class="error-container">
                            <span class="error-message">{{ request.cookies.get('mensagem_erro') }}</span>
                        </div>
                    {% endif %}
                    <a href="/criar_conta" class="create-account">CRIAR CONTA</a>     
                </div>
            </div>
        </div>
    </div>

    <script>
        function clearValue(input, defaultValue) {
            if (input.value === defaultValue || input.value === '') {
                input.value = ''; // Limpa o valor do campo
            }
        }

        function restoreValue(input, defaultValue) {
            if (input.value === '') {
                input.value = defaultValue; // Restaura o valor padrão se o campo estiver vazio
            }
        }
    </script>
</body>
</html>
