<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/static/css/estilo_criar_conta.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid full-height">
        <div class="row no-gutters full-height">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="form-container">
                    <a href="/" class="exit-icon"><i class="fa fa-arrow-left"></i></a>

                    <h2 class="form-title">Criar Conta</h2>
                    <p class="form-subtitle">Selecione se você é profissional de Saúde ou Paciente</p>

                    <div class="form-row">
                        <button class="select-btn" id="saude" value="saude">
                            Profissional de Saúde
                        </button>
                    </div>

                    <div class="form-row">
                        <button class="select-btn" id="paciente" value="paciente">
                            Paciente
                        </button>
                    </div>

                    <button type="button" class="btn-next" id="btn-next">Próximo</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const btnNext = document.getElementById('btn-next');
            const saudeBtn = document.getElementById('saude');
            const pacienteBtn = document.getElementById('paciente');

            let selectedOption = null;

            saudeBtn.addEventListener('click', () => {
                selectedOption = 'saude';
                // Remove a classe 'active' dos outros botões, se houver
                saudeBtn.classList.add('active');
                pacienteBtn.classList.remove('active');
            });

            pacienteBtn.addEventListener('click', () => {
                selectedOption = 'paciente';
                // Remove a classe 'active' dos outros botões, se houver
                pacienteBtn.classList.add('active');
                saudeBtn.classList.remove('active');
            });

            btnNext.addEventListener('click', () => {
                if (selectedOption === 'saude') {
                    window.location.href = '/cadastro_profissional'; // Atualize o caminho conforme necessário
                } else if (selectedOption === 'paciente') {
                    window.location.href = '/cadastro_paciente'; // Atualize o caminho conforme necessário
                } else {
                    alert('Selecione uma opção antes de continuar.');
                }
            });
        });
    </script>
</body>
</html>
