{% extends "shared/pages/base.html" %}
{% block subtitulo %}Cupons{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilo_cupons_indisponiveis.css">

<div class="titulo">
    <h2>Cupons de desconto</h2>
    <nav class="nav nav-underline nav-fill">
        <a href="/usuario/cupons_ativos" class="nav-link active link-ativos">Ativos</a>
        <a href="/usuario/cupons_indisponiveis" class="nav-link active link-indisponiveis" >Indisponíveis</a>
    </nav>
</div>

<div class="p-4 rounded-4 mt-5 mb-4" style="background-color: #969FAA;">
    <div class="row">
        <div class="col-2">
            <div class="rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                <img src="/static/img/dr.gabrielbelmonte.jpg" alt="foto perfil" class="img-fluid w-100 h-100" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column justify-content-center h-100">
                <p class="lead m-0">dr.gabrielbelmonte</p>
                <h1 class="lead fw-bold m-0">ADERIU AO CUPOM DE 25%</h1>
                <p class="small fw-bold text-secondary m-0">Expirado à 1 mês 5h 50min</p>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column justify-content-center h-100 me-4">
                <button class="btn btn-lg fs-1 px-5 position-relative" style="background-color: #343F4B; color: white; border-radius: 17px; font-weight: bold;">
                    <span class="position-absolute start-0 top-50 p-3 rounded-circle translate-middle" style="background-color: #969FAA;"></span>
                    <small>Indisponível</small>
                    <span class="position-absolute start-100 top-50 p-3 rounded-circle translate-middle" style="background-color: #969FAA;"></span>
                </button>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}