{% extends "pages/base.html" %}
{% block subtitulo %}Editar{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilo_editar_perfil.css">

<body>

<div class="voltar">
    <i class="bi bi-caret-left-fill"></i> Perfil
</div>

<div class="centro">
    <h3>Editar perfil</h3>
    
    <!-- Retângulo para edição de perfil -->
    <div class="perfil-editar">
        <div class="perfil-info">
            <img src="/static/img/dra.nathalia.jpg" alt="Foto de Perfil" class="foto-perfil">
            <div class="perfil-texto">
                <h5>dranathaliacastellani</h5>
                <p>Nathália Castellani</p>
            </div>
        </div>
        <button class="btn-alterar-foto">Alterar Foto</button>
    </div>
</div>

    <!-- Formulário com rótulo e textarea -->
    <form>
        <div class="mb-3">
            <label for="Bio" class="form-label">Bio</label>
            <textarea class="form-control" id="experienciaGeral" rows="2" placeholder="Escreva aqui sua biografia..."></textarea>
        </div>

        <div class="mb-3">
            <label for="Categoria" class="form-label">Categoria</label>
            <select name="categoria" id="categoria" class="form-select">
                <option value="" ></option>
                <option value="med">Médico</option>
                <option value="nut">Nutricionista</option>
                <option value="per">Personal</option>
                <option value="pis">Psicólogo</option>
                <option value="odo">Odontologista</option>
            </select> 
        </div>
        <div class="mb-3">
            <label for="Gênero" class="form-label">Gênero</label>
            <select name="gênero" id="gênero" class="form-select">
                <option value="" ></option>
                <option value="fem">Feminino</option>
                <option value="mas">Masculino</option>
                <option value="per">Personalizado</option>
                <option value="pno">Prefiro não opinar</option>                
            </select> 
        </div>
        <div class="text-center">
            <button type="submit" class="btn-alterar-foto">Enviar</button>
        </div>
    </form>

</body>
{% endblock %}