{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<h1>Página Principal</h1>
<hr>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum mollitia asperiores, ipsum labore at omnis id dolorem, voluptates atque ut modi quisquam quas in veniam iste hic, voluptatum doloremque? Rem fuga dicta molestias aperiam quo sed, at illo pariatur expedita porro nam accusamus, id incidunt ducimus nemo. Minus, a fuga sunt veniam, laborum voluptatem quam quia, dolore hic at mollitia?</p>
{% endblock %}