{% extends "pages/base.html" %}
{% block subtitulo %}Notificação{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilo_notificacao.css">
    <div id="g" class="container">
        <div class="row">
            <main class="col-9 min-vh-100">
                <div class="container">
                    <h1>Notificações</h1>
                </div>
                <div class="container">
                    <h3>Hoje</h3>
                </div>
                    <div class="container flex">
                        <img src="/static/img/dr.gabrielbelmonte.jpg" alt="gabrielbelmonte" class="foto-redonda-pequena">
                        <p><b>dr.gabrielbelmonte</b> <i class="bi bi-patch-plus icone-profissional"></i> curtiu seu Daily.<font color="gray">7 min</font></p>
                    </div>
                    <br>
                    <div class="container flex">
                        <img src="/static/img/nutri_geovani.jpg" alt="nutrigeovani" class="foto-redonda-pequena">
                        <p><b>nutri_geovani</b> <i class="bi bi-patch-plus icone-profissional"></i> começou a seguir você.<font color="gray">3 h</font></p>
                    </div>
                    <hr>
                    <h3>Esta semana</h3>
                    <div class="container flex">
                        <img src="/static/img/liviacampos.jpg" alt="liviacampos" class="foto-redonda-pequena">
                        <p><b>liviacampos</b> <i class="bi bi-shield-plus icone-profissional"></i> curtiu sua publicação.<font color="gray">2 d</font></p>
                    </div>
                    <br>
                    <div class="container flex">
                        <img src="/static/img/dr.gabrielbelmonte.jpg" alt="gabrielbelmonte" class="foto-redonda-pequena">
                        <p><b>dr.gabrielbelmonte</b> <i class="bi bi-patch-plus icone-profissional"></i> começou a seguir você.<font color="gray">4 d</font></p>
                    </div>
                    <hr>
                    <h3>Este mês</h3>
                    <div class="container flex">
                        <img id="3" src="/static/img/dra.annareis.jpg" alt="annareis" class="foto-redonda-pequena">
                        <p><b>dra.annareis</b> <i class="bi bi-patch-plus icone-profissional"></i> e outras 5 pessoas comentaram na sua publicação.<font color="gray">2 sem</font></p>
                    </div>
                    <br>
                    <div class="container flex">
                        <img src="/static/img/andrerodrigues.jpg" alt="andrerodrigues" class="foto-redonda-pequena">
                        <p><b>andrerodrigues</b> <i class="bi bi-patch-plus icone-profissional"></i> começou a seguir você.<font color="gray">3 sem</font></p>
                    </div>
                    <br>
                    <div class="container flex">
                        <img src="/static/img/fisiolivia.jpg" alt="fisiolivia" class="foto-redonda-pequena">
                        <p><b>fisioliviaaredes</b> <i class="bi bi-patch-plus icone-profissional"></i> curtiu sua publicação.<font color="gray">3 sem</font></p>
                    </div>
            </main>
        </div>
{% endblock %}