<!DOCTYPE html> 
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano</title>
    <link rel="stylesheet" href="/static/css/estilo_plano.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <!-- Novo header para o topo da página -->
    <header class="container">
        <img src="/static/img/mascote.png" alt="Mascote" class="mascote">
        <div class="texto-header">
            <h1 class="titulo">Bem-Vindo!</h1>
            <p class="subtitulo">Escolha seu Plano</p>
        </div>
    </header>

    <!-- Seção separada para os planos -->
    <section class="planos">
        <div class="plano">
            <h4>Plano Free</h4>
            <p class="preco"><b>0,00</b></p><br>
            <ul>
                <li>Tenha acesso às publicações comuns</li><br>
                <li>Tenha contato direto com os profissionais através de mensagem</li>
            </ul>
            <p class="info-extra">Adquira mais vantagens!<br>Obtenha o plano premium</p>
            <button class="botao-assinar">Continuar</button>
        </div>
        <div>
            
        </div>

        <div class="plano">
            <h4>Plano Premium</h4>
            <p class="preco"><b>24,90<span>por mês</b></span></p><br>
            <ul>
                <li>Tenha acesso a publicações premium</li><br>
                <li>Ganhe cupons de desconto</li>
            </ul>
            <p class="info-extra">Cancele seu plano quando quiser</p>
            <a href="/usuario/tela_cancelar_plano" class="cancelar">clique aqui para cancelar</a>
            <button class="botao-assinar" onclick="window.location.href='/usuario/fazer_upgrade_plano'">Obter Premium</button>
        </div>
    </section>

    <img src="logo.png" alt="Logo" class="logo">
    <a href="#" class="voltar">
        <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
    
</body>
</html>