<div class="container-pai">
                    
    <div class="container-coluna" dados-publicacao="{&quot;imagem&quot;: &quot;18cbe707-8865-4827-8e15-193f13c953bb.jpeg&quot;, &quot;data_criacao&quot;: &quot;28 de Novembro de 2024&quot;, &quot;descricao&quot;: &quot;👩‍⚕️🤍&quot;, &quot;id_perfil&quot;: &quot;7&quot;, &quot;nome_perfil&quot;: &quot;dranatcastellani&quot;}">
        <img src="/static/img/publicacoes/18cbe707-8865-4827-8e15-193f13c953bb.jpeg" alt="Imagem da Publicação">
    </div>                    

    <div class="container-coluna" dados-publicacao="{&quot;imagem&quot;: &quot;958c6799-6803-48fd-9a52-fb9f791e37e4.jpeg&quot;, &quot;data_criacao&quot;: &quot;28 de Novembro de 2024&quot;, &quot;descricao&quot;: &quot;&quot;A vida começa desde os primeiros batimentos de um coração tão pequeno, mas tão poderoso. Cada fase é um milagre em formação! Cuide da sua saúde e celebre o milagre da vida. 💕👶 &quot;, &quot;id_perfil&quot;: &quot;7&quot;, &quot;nome_perfil&quot;: &quot;dranatcastellani&quot;}">
        <img src="/static/img/publicacoes/958c6799-6803-48fd-9a52-fb9f791e37e4.jpeg" alt="Imagem da Publicação">
    </div>                    

    <div class="container-coluna" dados-publicacao="{&quot;imagem&quot;: &quot;5c2baa69-3a8f-43d1-8a3c-f76b32a24b60.jpeg&quot;, &quot;data_criacao&quot;: &quot;28 de Novembro de 2024&quot;, &quot;descricao&quot;: &quot;&quot;📅 Acompanhar o desenvolvimento do bebê é emocionante! Nossa tabela de gestação ajuda a entender cada fase, desde o primeiro trimestre até o nascimento. 🌟 Saiba o que acontece com o bebê e com o corpo da mamãe semana a semana! 🤰💖 #TabelaDeGestação #SaúdeMaterna #CadaSemanaConta&quot;&quot;, &quot;id_perfil&quot;: &quot;7&quot;, &quot;nome_perfil&quot;: &quot;dranatcastellani&quot;}">
        <img src="/static/img/publicacoes/5c2baa69-3a8f-43d1-8a3c-f76b32a24b60.jpeg" alt="Imagem da Publicação">
    </div>                    

</div>