<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Vitalis :: Notificações</title>
    <style>
        .notification-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }

        .notification-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .notification-container p {
            margin: 0;
        }

        .notification-time {
            color: gray;
            margin-left: auto;
            font-size: 0.9em;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <div class="row">
            <header class="col-3 cor-menu pe-0">
                <nav class="d-flex flex-column ps-2 min-vh-100">
                    <a href="/" class="text-decoration-none">
                        <img src="/static/img/logo.svg" alt="Logo" class="w-100">
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/">
                        <i class="bi bi-house fs-5"></i> Página Inicial
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/perfil">
                        <i class="bi bi-person fs-5"></i> Perfil
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/mensagens">
                        <i class="bi bi-envelope fs-5"></i> Mensagens
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/notificacoes">
                        <i class="bi bi-bell fs-5"></i> Notificações
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/cupons">
                        <i class="bi bi-tag fs-5"></i> Cupons
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/nova_publicacao">
                        <i class="bi bi-plus-circle fs-5"></i> Nova Publicação
                    </a>
                    <a class="text-white text-decoration-none my-2" href="/configuracoes">
                        <i class="bi bi-gear fs-5"></i> Configurações
                    </a>
                    <a class="text-white text-decoration-none my-2 mt-auto" href="/atividades">
                        <i class="bi bi-text-left fs-5"></i> Atividades
                    </a>
                </nav>
            </header>
            <main class="col-9 min-vh-100">
                <div class="container mt-4">
                    <h1>Notificações</h1>
                    <h3>Hoje</h3>
                    <div class="notification-container">
                        <img src="/static/img/dr.gabrielbelmonte.jpg" alt="gabrielbelmonte" class="notification-img">
                        <p><b>dr.gabrielbelmonte</b> <i class="bi bi-patch-plus"></i> curtiu seu Daily.<span class="notification-time">7 min</span></p>
                    </div>
                    <div class="notification-container">
                        <img src="/static/img/nutri_geovani.jpg" alt="nutrigeovani" class="notification-img">
                        <p><b>nutri_geovani</b> <i class="bi bi-patch-plus"></i> começou a seguir você.<span class="notification-time">3 h</span></p>
                    </div>
                    <hr>
                    <h3>Esta semana</h3>
                    <div class="notification-container">
                        <img src="/static/img/liviacampos.jpg" alt="liviacampos" class="notification-img">
                        <p><b>liviacampos</b> <i class="bi bi-shield-plus"></i> curtiu sua publicação.<span class="notification-time">2 d</span></p>
                    </div>
                    <div class="notification-container">
                        <img src="/static/img/dr.gabrielbelmonte.jpg" alt="gabrielbelmonte" class="notification-img">
                        <p><b>dr.gabrielbelmonte</b> <i class="bi bi-patch-plus"></i> começou a seguir você.<span class="notification-time">4 d</span></p>
                    </div>
                    <hr>
                    <h3>Este mês</h3>
                    <div class="notification-container">
                        <img src="/static/img/dra.annareis.jpg" alt="annareis" class="notification-img">
                        <p><b>dra.annareis</b> <i class="bi bi-patch-plus"></i> e outras 5 pessoas comentaram na sua publicação.<span class="notification-time">2 sem</span></p>
                    </div>
                    <div class="notification-container">
                        <img src="/static/img/andrerodrigues.jpg" alt="andrerodrigues" class="notification-img">
                        <p><b>andrerodrigues</b> <i class="bi bi-patch-plus"></i> começou a seguir você.<span class="notification-time">3 sem</span></p>
                    </div>
                    <div class="notification-container">
                        <img src="/static/img/fisiolivia.jpg" alt="fisiolivia" class="notification-img">
                        <p><b>fisioliviaaredes</b> <i class="bi bi-patch-plus"></i> curtiu sua publicação.<span class="notification-time">3 sem</span></p>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>